@font-face {
  font-family: 'MainFontBold';
  src: url('../assets/fonts/BRSonoma-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MainFontRegular';
  src: url('../assets/fonts/BRSonoma-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}